27dec-task2/src/main/mule/27dec-task2.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="f377c831-83fb-40b1-a3af-08360fe37f4e" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="27dec-task2Flow" doc:id="6fbb2324-e71e-4738-a3c7-6e3317b70aea" >
		<http:listener doc:name="Listener" doc:id="e0ee122f-b71d-42e8-9693-6a9952594b83" config-ref="HTTP_Listener_config" path="/27dec-task2flow"/>
		<ee:transform doc:name="Transform Message" doc:id="0f981a29-1379-4d25-8b79-a699d6f73dd0" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/xml
---
{
"city name" :payload.weather.name,
"minimum temp":payload.list.temp_min,
"Maximum temp" :payload.list.temp_max,
"pressure" :payload.list.Pressure,
"sealevel":payload.list.sea_level
}
]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
